
/* ABOUT SECTION */
#about {
    display: flex;
    flex-direction: row;
    width: 77.25vw;
    height: 100vh;
    gap: 2rem;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-pic{
    border-radius: 2rem;
}

.about__text {
    align-self: center;
}

/* RUNING TEXT */

.container-runing-text{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    border-bottom: 10px solid #000;
    border-top: 10px solid #000;
}

.group-runing-text{
    white-space: nowrap;
    margin: 0 2em;
}

.group-runing-text div{
    display: flex;
    gap: 2em;
}

.group-runing-text p{
    font-size: 3em;
    color: white;
    font-weight: bold;
    margin-bottom:7px;
    line-height: 10px;
    gap: 0;
}

.runing-text {
    animation: RightToLeft 10s infinite linear;
}

@keyframes  RightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
}